.team {

    width: 62%;
    margin: auto;
    overflow-x: scroll;
    white-space: nowrap;
    margin-top: 20px;

    .content {
        text-align: center;
        box-shadow: 1px 1px 10px rgb(157, 157, 157);
        border-radius: 10px;
        width: 250px;
        display: inline-block;
        margin: 20px;

        #img {
            width: 90%;
            height: auto;
            margin: none;
        }

        h5 {
            margin-top: 20px;
        }

        #p1 {
            padding: 30px;
        }
    }
}

@media (max-width:768px) {
    .team {
        width: 100%;
    }
}