.CardContanier{
    width: 60%;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(126, 125, 125);

    img{
        width: 100%;
        height: auto;
        margin: auto;
    }
    h4{
        margin-top: 30px;
    }
}