@media (min-width:768px) {
	.userAndSlot{
		padding: 0 1.25rem !important;
	}
	.salonName{
		margin: 0 0 !important;
	}
	.paymentStatusDiv{
		padding: 0 0 !important;
	}
	.salonRecipt,.allTotal,.sericeCardRecipt{
		padding: 0 1.25rem !important;
	}
	.allTotal{
		margin: 1.75rem 0 !important;
	}
}