@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&display=swap');
.loginBox {
    width: 360px;
    height: 100vh;
    z-index: 2;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
	padding: 10px;


    button {
        // margin-top: 20px;
        // margin-left: 30px;
        border: none;
        width: 40px;
    }

    p {
        // margin-top: 30px;
        // margin-left: 30px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .loginToggle {
        width: 300px;
        margin: auto;
        margin-top: 40px;

        .com {
            display: inline-block;
            width: 150px;
            height: 45px;

            button {
                font-size: 14px;
                width: 150px;
                margin: auto;
                height: 45px;
                font-weight: bold;
                letter-spacing: 1px;
            }
        }

        .t1 {
            button {
                background-color: black;
                border-radius: 10px 0px 0px 10px;
                color: white;
            }
        }

        .t2 {
            button {
                background-color: #30D5C8;
                border-radius: 0px 10px 10px 0px;
            }
        }
    }

    section {
        margin-top: 40px;
        margin-left: 30px;
        font-weight: 500;
        font-size: 15px;
    }

    .inpSection {
        width: 300px;
        margin: auto;
        margin-top: 10px;
        background-color: #cbfefa;
        border-radius: 5px;

        select {
            border-radius: none;
            width: 60px;
            height: 40px;
            background-color: #cbfefa;
            border: none;
            border-radius: 5px 0px 0px 5px;
        }

        input {
            height: 40px;
            width:225px ;
            background-color: #cbfefa;
            border: none;
            border-left: 2px solid rgb(216, 213, 213);
            margin-left: 10px;
            outline: none;
            text-align: center;
        }

    }

    #pass {
        height: 40px;
        width: 300px;
        margin-left: 30px;
        margin-top: 10px;
        background-color: #cbfefa;
        outline: none;
        text-align: center;
        border: none;
        border-radius: 5px;
    }

    #forgot{
        text-decoration: none;
        font-size: 14px;
        color: black;
        display: block;
        margin-left: 30px;
        margin-top: 6px;
    }
    .btn{
        width: 300px;
        // margin-left: 30px;
        height: 40px;
        // margin-top: 25px;
        text-align: center;
    }
    .account{
        width: 300px;
        margin: auto;
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 500;
        color: rgb(95, 94, 94);

        button{
            color: black;
            width: 90px;
            background-color: white;
            margin-left: -1px;
            border-bottom:1px solid black ;
            font-weight: 500;
        }
    }

    #state{
        margin-left: 30px;
        width: 300px;
        height: 40px;
        background-color: #cbfefa;
        margin-top: 10px;
        border-radius: 5px;
        text-align: center;
        border:none;
    }
    .check{
        margin-left: 30px;
        margin-top: 20px;

        span{
            font-size: 14px;
            margin-left: 10px;
        }
    }

    #toggle2{
        display: none;
    }

}

div.login-sj{
	margin: 20px 0;
}
div#toggle1{
	padding: 30px;
}

p.login-title{
	font-family: "Lato";
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 4px;
}
p.register-title{
	font-size: 30px;
}
div#toggle2{
	padding: 30px;
}

div.login-hr{
	border: none;
	border-top: 5px solid #0071eb;
	border-radius: 10px;
	width: 30%
}

button.btn.btn-cross{
	width: 40px;
	height:30px;
	padding: 0;
	margin: 30px 0 0 30px;
}